// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------

@import '../abstracts/variables';

.about {

  img {
    border-radius: 50%;
    max-width: 200px;
  }
  
  p {
    text-align: left;
  }

  @media #{$break-med} {
    p {
      font-size: 1.2em;
      padding: 0 2rem;
    }
  }

  @media #{$break-large} {
    main {
      width: 64em !important;
      margin: auto;
    }

    p {
      font-size: 1.3em;
    }
  }
}