// -----------------------------------------------------------------------------
// This file contains styles that are specific to the project overview pages.
// -----------------------------------------------------------------------------

.overview {

  .breadcrumbs {
    padding-left: 1em;

    li {
      font-size: .8rem;

      @media #{$break-med} {
        font-size: 1.1rem;
      }

      span {
        color: $primary-color-dark;
        font-weight: bold;
      }

      a {
        color: $secondary-color;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  h3,
  p {
    text-align: left;
  }

  .font {
    p {
      font-family: "Segoe UI";
    }
  }


  // County Color Scheme and Font
  .county-color-scheme {
    background-color: rgba($secondary-color-dark, .2);
    border-radius: 10px;
    padding-bottom: 1em;

    div {
      border-radius: 0 0 10px 10px;
      display: inline-block;
      height: 7em;
      padding: 1em;
      width: 30%;

      @for $i from 1 through $county-colors-length {
        &:nth-of-type(#{$county-colors-length}n+#{$i}) {
          background-color: nth($county-colors, $i);
        }
      }
    }
  }

  // Peak Training Color Scheme and Font
  .peak-color-scheme {
    background-color: rgba($secondary-color-dark, .2);
    border-radius: 10px;
    padding-bottom: 1em;

    div {
      border-radius: 0 0 10px 10px;
      display: inline-block;
      height: 7em;
      padding: 1em;
      width: 15%;

      @for $i from 1 through $peak-colors-length {
        &:nth-of-type(#{$peak-colors-length}n+#{$i}) {
          background-color: nth($peak-colors, $i);
        }
      }
    }
  }

  // Vicious Cycles Color Scheme and Font
  .cycles-color-scheme {
    background-color: rgba($secondary-color-dark, .2);
    border-radius: 10px;
    padding-bottom: 1em;

    div {
      border-radius: 0 0 10px 10px;
      display: inline-block;
      height: 7em;
      padding: 1em;
      width: 20%;

      @for $i from 1 through $cycles-colors-length {
        &:nth-of-type(#{$cycles-colors-length}n+#{$i}) {
          background-color: nth($cycles-colors, $i);
        }
      }
    }
  }

}
