// -----------------------------------------------------------------------------
// This file contains all styles related to the page transition component.
// -----------------------------------------------------------------------------


//Fade in

main,
footer {
  opacity: 0;
  transform: translateY(50px);
  transition: transform .5s, opacity 1s;
}


body.loaded main,
body.loaded footer {
  opacity: 1;
  transform: translateY(0px);
}