// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin color-theme($width) {
  background-color: rgba($secondary-color-dark, .2);
  border-radius: 10px;
  @media #{$break-med}{
    width: 90%;
  }
  div {
    border-radius: 0 0 10px 10px;
    display: inline-block;
    height: 4em;
    padding: 1em;
    width: $width;
  }
}